/* Variables */


/* Universal Selector */
* {}


/* Element Selector */
body {
    font-family: 'Merriweather', serif;
}

header {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: blueviolet;
    color: white;
}

/* Class Selectors */




/* ID Selectors */


/* Search Section */



/* Weather Display Section */